
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>David Pindrys</title>
	 <link rel="stylesheet" href="a/c/app.css">
    <script src="a/j/vendor/custom.modernizr.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="//use.typekit.net/ycy6nkx.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<div class="top">
<div class="row full-width">
<div class="small-12 large-9 columns">
<h5>Daivd Pindrys</h5>
<hr>
</div>
<div class="small-12 large-1 columns">
<h5>About</h5>
<hr>
</div>
<div class="small-12 large-1 columns">
<h5>Work</h5>
<hr>
</div>
<div class="small-12 large-1 columns">
<h5>Play</h5>
<hr>
</div>
</div>